<%= form_with url: confirmation_path, method: :post do |f| %>
  <div>
    <%= f.label :first_name, "Prénom" %>
    <%= f.text_field :first_name, value: current_order&.bill_address&.name %>
  </div>
  <div>
    <%= f.label :last_name, "Nom" %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :phone, "Téléphone" %>
    <%= f.text_field :phone, value: current_order&.bill_address&.phone %>
  </div>
  <div>
    <%= f.label :address, "Adresse" %>
    <%= f.text_field :address, value: current_order&.bill_address&.address1 %>
  </div>
  <div>
    <%= f.submit "Confirmer la commande" %>
  </div>
<% end %>